$fonts: (
    primary: (
        "PT Sans",
        sans-serif,
    ),
    secondary: (
        "Bebas Neue",
        sans-serif,
    ),
);

$colors: (
    "black-total": #000000,
    "white-total": #ffffff,
    "bg": #f4f5f9,
    "text": #42567a,
    "accent-1": #5d5fef,
    "accent-2": #3877ee,
    "accent-3": #ef5da8,
    "border": #c7cdd9,
);

$breakpoints: (
    xs: 360px,
    sm: 640px,
    md: 768px,
    lg: 1025px,
    xl: 1280px,
    "2xl": 1440px,
    "3xl": 1920px,
);

$transition-duration: 0.35s;
$transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
$transition: $transition-duration $transition-easing;
