{
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-css-order"],
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 120,
    "arrowParens": "avoid",
    "cssDeclarationSorterOrder": "smacss",
    "bracketSpacing": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "<TYPES>",
        "^@<TYPES>",
        "",
        "<BUILTIN_MODULES>",
        "",
        "^react",
        "^next",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@App/(.*)$",
        "^@Pages/(.*)$",
        "^@Widgets/(.*)$",
        "^@Features/(.*)$",
        "^@Entities/(.*)$",
        "^@Shared/(.*)$",
        "",
        "^@[A-Z](.*)$",
        "",
        "^[.]",
        "",
        "^(?!.*[.](s?)css$)[./].*$",
        ".(s?)css$"
    ]
}
