@use "sass:math";
@use "@App/styles/mixins";

.section {
    display: flex;
    z-index: 0;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 58px 20px 13px;

    @include mixins.screen(lg) {
        padding: 167px 0 104px;

        &::before,
        &::after {
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            content: "";
            opacity: 0.1;
            pointer-events: none;
        }

        &::before {
            right: 0;
            left: 0;
            border-inline: 1px solid var(--color-text);
        }

        &::after {
            left: 50%;
            width: 1px;
            background-color: var(--color-text);
        }
    }
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    @include mixins.screen(lg) {
        position: relative;
        padding-left: 80px;
        font-size: 56px;

        &::before {
            display: block;
            position: absolute;
            top: 10px;
            bottom: 4px;
            left: 0;
            width: 5px;
            background: linear-gradient(to bottom, var(--color-accent-2), var(--color-accent-3));
            content: "";
        }
    }
}

.years {
    display: flex;
    z-index: 2;
    position: relative;
    place-content: center;
    margin-top: 54px;
    gap: 26px;
    font-weight: 700;
    font-size: 56px;
    line-height: math.div(73, 56);
    letter-spacing: -0.02em;
    text-align: center;

    @include mixins.screen(lg) {
        margin-top: 87px;
        gap: 94px;
        font-size: 200px;
        line-height: math.div(160, 200);
    }
}

.yearStart,
.yearEnd {
    font-variant-numeric: tabular-nums;
}

.yearStart {
    color: var(--color-accent-2);

    @include mixins.screen(lg) {
        color: var(--color-accent-1);
    }
}

.yearEnd {
    color: var(--color-accent-3);
    opacity: 0.8;

    @include mixins.screen(lg) {
        opacity: 1;
    }
}

.circle {
    margin-top: 23px;
}

.controls {
    order: 1;
    margin-top: 78px;

    @include mixins.screen(lg) {
        order: unset;
        margin-top: 148px;
    }
}

.events {
    margin-top: 59px;

    @include mixins.screen(lg) {
        margin-top: 56px;
    }
}
