@use "sass:math";
@use "@App/styles/mixins";

.section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    min-height: 100svh;
    margin-inline: auto;
    padding: 59px 20px 13px;

    @include mixins.screen(lg) {
        padding: 170px 0 104px;
    }
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    @include mixins.screen(lg) {
        position: relative;
        padding-left: 75px;
        font-size: 56px;

        &::before {
            display: block;
            position: absolute;
            inset: 0;
            right: auto;
            width: 5px;
            background: linear-gradient(to bottom, var(--color-accent-2), var(--color-accent-3));
            content: "";
        }
    }
}

.years {
    display: flex;
    place-content: center;
    margin-top: 56px;
    gap: 20px;
    font-weight: 700;
    font-size: 56px;
    line-height: math.div(73, 56);
    letter-spacing: -0.02em;
    text-align: center;

    @include mixins.screen(lg) {
        margin-top: 96px;
        gap: 40px;
        font-size: 200px;
        line-height: math.div(160, 200);
    }
}

.yearStart {
    color: var(--color-accent-2);

    @include mixins.screen(lg) {
        color: var(--color-accent-1);
    }
}

.yearEnd {
    color: var(--color-accent-3);
}

.controls {
    order: 1;
    margin-top: 78px;

    @include mixins.screen(lg) {
        order: auto;
        margin-top: 137px;
    }
}

.events {
    margin-top: 57px;

    @include mixins.screen(lg) {
        margin-top: 56px;
    }
}
