.icon {
    display: block;
    flex-shrink: 0;
    width: 1em;
    max-width: none;
    height: 1em;
    font-size: 1em;
    line-height: 1;

    path,
    circle {
        vector-effect: non-scaling-stroke;
    }
}
